doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/so-angular.css')
  body
    block content

    script(src="/js/vendor/angular/angular.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/so-angular.js")